<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta charset="utf-8">
    <title> Quoting Dojo Redux</title>
  </head>
  <body>
    <h2>Coding Dojo Quotes</h2>
    <form action='/quotes' method='post' >

      Your Name:<input type='text' name='name' />
      Your Quote: <textarea name='content'></textarea>

      <input type='submit' value='Add My Quote' />
    </form>

      <button style="margin-top: 10px;"><a href='/results'>Skip, go to quotes</a></button>
  </body>
</html>
